.tags
.env
.idea
nbproject/
phpunit.xml
*node_modules*
.svn
.DS_Store
.svn/*
*.swp
.metadata/*
.metadata
*development*
*.tmp
#vim
*.un~
*.swp*
bower_components
_ide_helper.php
vendor/.git
.tags_sorted_by_file
.vscode
